[Unit]
Description=Subway Display Image Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<USER>
Group=<USER>
WorkingDirectory=/home/<USER>/pi-zero/subway_train_times
ExecStart=/usr/bin/python3 /home/<USER>/pi-zero/subway_train_times/subway_server.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target